    <!-- About Section -->
    <section id="register" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                        
		<div class="row">
	             <div class="col-lg-12">
                             <div class="title-div">
                    		<h1 class="h1_title">DO YOU HAVE WHAT IT TAKES?</h1>
		                    <!-- {% for links in site.links %} -->
                                    <a href="{{ links.url }}" class="btn btn-default btn-lg"  target="_blank"><span class="network-name">{{ links.title }}</span></a>
                                    <!-- {% endfor %} -->
                             </div>
                     </div>
               </div>
  
            </div>
  </section>
