<section class="container content-section" >
        <div class="row">
                <div class="col-lg-5 col-sm-6">   
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

		<div class="container">
			 
                    <h2 class="section-heading">The 'How-To' For Beginners</h2>
			<br>
			<div class="hint-row" style="margin-bottom: 20px">
				<div class="howTo-Link">
  					<a href="/img/Vestatech_EN.pdf" class="first-hints-btn"  target="_blank">
						<h4>English Version</h4><br>
						<img src="/img/services/VestaTech_EN.png" width="40%">
					</a>
  				</div>	
				<div class="howTo-Link">
					<a href="/img/Vestatech_LU.pdf" class="first-hints-btn"  target="_blank">
						<h4>Lëtzebuergesch Versioun</h4><br>
						<img src="/img/services/VestaTech_LU.png" width="40%">
					</a>     
				</div>
			</div>

       		</div>   
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->

