 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Rankingsystem</h2>
                    <div class="lead">The Lëtz Cybersecurity Challenge ranking system provides a clear view of the competition and is freely available on
			<a href="https://vestatech.cybersecuritychallenge.lu/"> our website</a>.
			Once registered, participants submit flags and earned Vesta Coins (VC). Each challenge gives a different amount of Vesta coins, related to its complexity, from 1 to 5 stars. 
			One player may find fewer flags than another, but have higher rankings because of their difficulty. 
			This ranking system was chosen to give everyone the opportunity to join the "Lëtz Cybersecurity Challenge" while encouraging the best players to excel.
		   </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                 <iframe src="//vestatech.cscl.lu/" width="100%" height="400px"></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

